@media screen and (min-width: 767px) {
  html {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }
  body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    background-color: white;
  }
  .layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    height: 100vh;
    background: rgb(0, 0, 0, 0.03);
  }
  .layout__sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    max-width: 298px;
    width: 100%;
    display: flex;
  }
  .layout__content {
    grid-column: 2;
    grid-row: 2;
    overflow-y: scroll;
    padding-top: 0;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    min-width: 70%;
  }
}
